# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

*.pt
# Mypy cache
.mypy_cache/
src/measurement/ImageJ/output_images/output_undistorted_GX010067_33_625.png
src/measurement/ImageJ/output_images/output_undistorted_GX010068_26_666.png
src/measurement/ImageJ/output_images/output_undistorted_GX010068_27_795.png
src/measurement/ImageJ/output_images/output_undistorted_GX010069_19_191.png
src/measurement/ImageJ/output_images/output_undistorted_GX010069_53_796.png
src/measurement/ImageJ/output_images/output_undistorted_GX010071_22_444.png
src/measurement/ImageJ/output_images/output_undistorted_GX010073_42_695.png
src/measurement/ImageJ/output_images/output_undistorted_GX010073_55_1014.png
src/measurement/ImageJ/output_images/output_undistorted_GX010077_14_237.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_73_1102.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_157_2283.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_193_2640.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_212_2954.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_237_3366.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_238_3392.png
src/measurement/ImageJ/output_images/output_undistorted_GX010082_8_59.png
src/measurement/ImageJ/output_images/output_undistorted_GX010082_53_796.png
src/measurement/ImageJ/output_images/output_undistorted_GX010082_65_1070.png
src/measurement/ImageJ/output_images/output_undistorted_GX010082_236_3137.png
src/measurement/ImageJ/output_images/output_undistorted_GX010084_30_344.png
src/measurement/ImageJ/output_images/output_undistorted_GX010084_130_1748.png
src/measurement/ImageJ/output_images/output_undistorted_GX010084_167_2291.png
src/measurement/ImageJ/output_images/output_undistorted_GX010085_261_3610.png
src/measurement/ImageJ/output_images/output_undistorted_GX010085_263_3738.png
src/measurement/ImageJ/output_images/output_undistorted_GX010088_209_2904.png
src/measurement/ImageJ/output_images/output_undistorted_GX010088_262_3712.png
src/measurement/ImageJ/output_images/output_undistorted_GX010088_327_4364.png
src/measurement/ImageJ/output_images/output_undistorted_GX010089_11_236.png
src/measurement/ImageJ/output_images/output_undistorted_GX010090_132_1852.png
src/measurement/ImageJ/output_images/output_undistorted_GX010091_5_149.png
src/measurement/ImageJ/output_images/output_undistorted_GX010094_9_129.png
src/measurement/ImageJ/output_images/output_undistorted_GX010094_24_430.png
src/measurement/ImageJ/output_images/output_undistorted_GX010094_93_1258.png
src/measurement/ImageJ/output_images/output_undistorted_GX010094_163_2312.png
src/measurement/ImageJ/output_images/output_undistorted_GX010096_107_1571.png
src/measurement/ImageJ/output_images/output_undistorted_GX010097_32_528.png
src/measurement/ImageJ/output_images/output_undistorted_GX010097_60_1080.png
src/measurement/ImageJ/output_images/output_undistorted_GX010097_105_1651.png
src/measurement/ImageJ/output_images/output_undistorted_GX010097_124_1870.png
src/measurement/ImageJ/output_images/output_undistorted_GX010101_12_173.png
src/measurement/ImageJ/output_images/output_undistorted_GX010102_9_165.png
src/measurement/ImageJ/output_images/output_undistorted_GX010102_50_1396.png
src/measurement/ImageJ/output_images/output_undistorted_GX010105_28_816.png
src/measurement/ImageJ/output_images/output_undistorted_GX010152_36_378.png
src/measurement/ImageJ/output_images/output_undistorted_GX010154_66_933.png
src/measurement/ImageJ/output_images/output_undistorted_GX010155_18_219.png
src/measurement/ImageJ/output_images/output_undistorted_GX010155_78_1170.png
src/measurement/ImageJ/output_images/output_undistorted_GX010156_53_629.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_68_883.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_159_2240.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_160_2259.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_173_2554.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_174_2582.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_177_2665.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_272_4575.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_293_5205.png
src/measurement/ImageJ/output_images/output_undistorted_GX010161_54_676.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010161_136_2267.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010162_72_927.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010162_153_2230.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010162_163_2433.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010162_250_4175.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010163_61_864.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010169_121_1249.png
src/measurement/ImageJ/output_images/output_undistorted_GX010171_115_1483.png
src/measurement/ImageJ/output_images/output_undistorted_GX010173_75_922.png
src/measurement/ImageJ/output_images/output_undistorted_GX010174_62_790.png
src/measurement/ImageJ/output_images/output_undistorted_GX010174_104_1236.png
src/measurement/ImageJ/output_images/output_undistorted_GX010174_166_2266.png
src/measurement/ImageJ/output_images/output_undistorted_GX010175_82_852.png
src/measurement/ImageJ/output_images/output_undistorted_GX010175_215_2644.png
src/measurement/ImageJ/output_images/output_undistorted_GX010175_266_3372.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010177_232_3047.png
src/measurement/ImageJ/output_images/output_undistorted_GX010178_107_2118.png
src/measurement/ImageJ/output_images/output_undistorted_GX010178_114_2258.png
src/measurement/ImageJ/output_images/output_undistorted_GX010178_172_3604.png
src/measurement/ImageJ/output_images/output_undistorted_GX010178_189_3987.png
src/measurement/ImageJ/output_images/output_undistorted_GX010179_88_1697.png
src/measurement/ImageJ/output_images/output_undistorted_GX010179_200_3927.png
src/measurement/ImageJ/output_images/output_undistorted_GX010180_91_1563.png
src/measurement/ImageJ/output_images/output_undistorted_GX010180_99_1788.png
src/measurement/ImageJ/output_images/output_undistorted_GX010181_101_1542.png
src/measurement/ImageJ/output_images/output_undistorted_GX010183_37_685.png
src/measurement/ImageJ/output_images/output_undistorted_GX010183_80_1633.png
src/measurement/ImageJ/output_images/output_undistorted_GX010183_128_2852.png
