# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Training runs
runs/

# Output and processed images
processed_images/

fifty_one/measurements/output_images/

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

*.pt
# Mypy cache
.mypy_cache/
src/measurement/ImageJ/output_images/output_undistorted_GX010067_33_625.png
src/measurement/ImageJ/output_images/output_undistorted_GX010068_26_666.png
src/measurement/ImageJ/output_images/output_undistorted_GX010068_27_795.png
src/measurement/ImageJ/output_images/output_undistorted_GX010069_19_191.png
src/measurement/ImageJ/output_images/output_undistorted_GX010069_53_796.png
src/measurement/ImageJ/output_images/output_undistorted_GX010071_22_444.png
src/measurement/ImageJ/output_images/output_undistorted_GX010073_42_695.png
src/measurement/ImageJ/output_images/output_undistorted_GX010073_55_1014.png
src/measurement/ImageJ/output_images/output_undistorted_GX010077_14_237.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_73_1102.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_157_2283.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_193_2640.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_212_2954.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_237_3366.png
src/measurement/ImageJ/output_images/output_undistorted_GX010080_238_3392.png
src/measurement/ImageJ/output_images/output_undistorted_GX010082_8_59.png
src/measurement/ImageJ/output_images/output_undistorted_GX010082_53_796.png
src/measurement/ImageJ/output_images/output_undistorted_GX010082_65_1070.png
src/measurement/ImageJ/output_images/output_undistorted_GX010082_236_3137.png
src/measurement/ImageJ/output_images/output_undistorted_GX010084_30_344.png
src/measurement/ImageJ/output_images/output_undistorted_GX010084_130_1748.png
src/measurement/ImageJ/output_images/output_undistorted_GX010084_167_2291.png
src/measurement/ImageJ/output_images/output_undistorted_GX010085_261_3610.png
src/measurement/ImageJ/output_images/output_undistorted_GX010085_263_3738.png
src/measurement/ImageJ/output_images/output_undistorted_GX010088_209_2904.png
src/measurement/ImageJ/output_images/output_undistorted_GX010088_262_3712.png
src/measurement/ImageJ/output_images/output_undistorted_GX010088_327_4364.png
src/measurement/ImageJ/output_images/output_undistorted_GX010089_11_236.png
src/measurement/ImageJ/output_images/output_undistorted_GX010090_132_1852.png
src/measurement/ImageJ/output_images/output_undistorted_GX010091_5_149.png
src/measurement/ImageJ/output_images/output_undistorted_GX010094_9_129.png
src/measurement/ImageJ/output_images/output_undistorted_GX010094_24_430.png
src/measurement/ImageJ/output_images/output_undistorted_GX010094_93_1258.png
src/measurement/ImageJ/output_images/output_undistorted_GX010094_163_2312.png
src/measurement/ImageJ/output_images/output_undistorted_GX010096_107_1571.png
src/measurement/ImageJ/output_images/output_undistorted_GX010097_32_528.png
src/measurement/ImageJ/output_images/output_undistorted_GX010097_60_1080.png
src/measurement/ImageJ/output_images/output_undistorted_GX010097_105_1651.png
src/measurement/ImageJ/output_images/output_undistorted_GX010097_124_1870.png
src/measurement/ImageJ/output_images/output_undistorted_GX010101_12_173.png
src/measurement/ImageJ/output_images/output_undistorted_GX010102_9_165.png
src/measurement/ImageJ/output_images/output_undistorted_GX010102_50_1396.png
src/measurement/ImageJ/output_images/output_undistorted_GX010105_28_816.png
src/measurement/ImageJ/output_images/output_undistorted_GX010152_36_378.png
src/measurement/ImageJ/output_images/output_undistorted_GX010154_66_933.png
src/measurement/ImageJ/output_images/output_undistorted_GX010155_18_219.png
src/measurement/ImageJ/output_images/output_undistorted_GX010155_78_1170.png
src/measurement/ImageJ/output_images/output_undistorted_GX010156_53_629.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_68_883.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_159_2240.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_160_2259.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_173_2554.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_174_2582.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_177_2665.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_272_4575.png
src/measurement/ImageJ/output_images/output_undistorted_GX010157_293_5205.png
src/measurement/ImageJ/output_images/output_undistorted_GX010161_54_676.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010161_136_2267.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010162_72_927.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010162_153_2230.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010162_163_2433.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010162_250_4175.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010163_61_864.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010169_121_1249.png
src/measurement/ImageJ/output_images/output_undistorted_GX010171_115_1483.png
src/measurement/ImageJ/output_images/output_undistorted_GX010173_75_922.png
src/measurement/ImageJ/output_images/output_undistorted_GX010174_62_790.png
src/measurement/ImageJ/output_images/output_undistorted_GX010174_104_1236.png
src/measurement/ImageJ/output_images/output_undistorted_GX010174_166_2266.png
src/measurement/ImageJ/output_images/output_undistorted_GX010175_82_852.png
src/measurement/ImageJ/output_images/output_undistorted_GX010175_215_2644.png
src/measurement/ImageJ/output_images/output_undistorted_GX010175_266_3372.jpg_gamma.png
src/measurement/ImageJ/output_images/output_undistorted_GX010177_232_3047.png
src/measurement/ImageJ/output_images/output_undistorted_GX010178_107_2118.png
src/measurement/ImageJ/output_images/output_undistorted_GX010178_114_2258.png
src/measurement/ImageJ/output_images/output_undistorted_GX010178_172_3604.png
src/measurement/ImageJ/output_images/output_undistorted_GX010178_189_3987.png
src/measurement/ImageJ/output_images/output_undistorted_GX010179_88_1697.png
src/measurement/ImageJ/output_images/output_undistorted_GX010179_200_3927.png
src/measurement/ImageJ/output_images/output_undistorted_GX010180_91_1563.png
src/measurement/ImageJ/output_images/output_undistorted_GX010180_99_1788.png
src/measurement/ImageJ/output_images/output_undistorted_GX010181_101_1542.png
src/measurement/ImageJ/output_images/output_undistorted_GX010183_37_685.png
src/measurement/ImageJ/output_images/output_undistorted_GX010183_80_1633.png
src/measurement/ImageJ/output_images/output_undistorted_GX010183_128_2852.png
fifty_one/processed_data/center_verification/body_1_verification.png
fifty_one/processed_data/center_verification/body_2_verification.png
fifty_one/processed_data/center_verification/body_3_verification.png
fifty_one/processed_data/center_verification/body_4_verification.png
fifty_one/processed_data/center_verification/body_7_verification.png
fifty_one/processed_data/center_verification/body_8_verification.png
fifty_one/processed_data/center_verification/body_11_verification.png
fifty_one/processed_data/center_verification/body_14_verification.png
fifty_one/processed_data/center_verification/body_15_verification.png
fifty_one/processed_data/center_verification/body_16_verification.png
fifty_one/processed_data/center_verification/body_17_verification.png
fifty_one/processed_data/center_verification/body_18_verification.png
fifty_one/processed_data/center_verification/body_20_verification.png
fifty_one/processed_data/center_verification/body_21_verification.png
fifty_one/processed_data/center_verification/body_23_verification.png
fifty_one/processed_data/center_verification/body_24_verification.png
fifty_one/processed_data/center_verification/body_25_verification.png
fifty_one/processed_data/center_verification/body_26_verification.png
fifty_one/processed_data/center_verification/body_28_verification.png
fifty_one/processed_data/center_verification/body_29_verification.png
fifty_one/processed_data/center_verification/body_31_verification.png
fifty_one/processed_data/center_verification/body_33_verification.png
fifty_one/processed_data/center_verification/body_34_verification.png
fifty_one/processed_data/center_verification/body_37_verification.png
fifty_one/processed_data/center_verification/body_38_verification.png
fifty_one/processed_data/center_verification/body_39_verification.png
fifty_one/processed_data/center_verification/body_40_verification.png
fifty_one/processed_data/center_verification/body_43_verification.png
fifty_one/processed_data/center_verification/body_44_verification.png
fifty_one/processed_data/center_verification/body_46_verification.png
fifty_one/processed_data/center_verification/body_47_verification.png
fifty_one/processed_data/center_verification/carapace_1_verification.png
fifty_one/processed_data/center_verification/carapace_8_verification.png
fifty_one/processed_data/center_verification/carapace_17_verification.png
fifty_one/processed_data/center_verification/carapace_20_verification.png
fifty_one/processed_data/center_verification/carapace_22_verification.png
fifty_one/processed_data/center_verification/carapace_26_verification.png
fifty_one/processed_data/center_verification/carapace_36_verification.png
fifty_one/processed_data/center_verification/carapace_38_verification.png
fifty_one/processed_data/center_verification/carapace_39_verification.png
fifty_one/processed_data/center_verification/carapace_44_verification.png
fifty_one/processed_data/center_verification/carapace_45_verification.png
fifty_one/processed_data/center_verification/carapace_46_verification.png
fifty_one/processed_data/center_verification/carapace_50_verification.png
fifty_one/processed_data/center_verification/carapace_54_verification.png
fifty_one/processed_data/center_verification/carapace_62_verification.png
fifty_one/processed_data/center_verification/carapace_70_verification.png
fifty_one/processed_data/center_verification/carapace_77_verification.png
fifty_one/processed_data/center_verification/carapace_85_verification.png
fifty_one/processed_data/center_verification/carapace_91_verification.png
fifty_one/processed_data/center_verification/carapace_99_verification.png
fifty_one/processed_data/center_verification/carapace_104_verification.png
fifty_one/processed_data/center_verification/carapace_106_verification.png
fifty_one/processed_data/center_verification/carapace_109_verification.png
fifty_one/processed_data/center_verification/carapace_112_verification.png
fifty_one/processed_data/center_verification/carapace_113_verification.png
fifty_one/processed_data/center_verification/carapace_118_verification.png
fifty_one/processed_data/center_verification/carapace_122_verification.png
fifty_one/processed_data/center_verification/carapace_133_verification.png
fifty_one/processed_data/center_verification/carapace_137_verification.png
fifty_one/processed_data/center_verification/carapace_142_verification.png
fifty_one/processed_data/center_verification_cropped/body_2_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_4_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_5_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_6_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_7_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_8_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_9_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_11_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_12_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_14_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_16_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_17_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_18_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_19_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_20_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_21_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_26_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_27_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_28_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_29_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_30_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_31_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_36_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_37_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_40_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_41_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_42_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_43_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_44_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/body_46_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_0_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_5_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_9_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_13_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_29_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_35_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_38_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_40_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_43_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_44_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_46_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_48_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_61_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_67_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_82_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_83_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_87_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_89_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_95_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_96_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_113_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_115_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_116_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_118_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_124_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_125_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_127_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_130_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_131_cropped_verification.png
fifty_one/processed_data/center_verification_cropped/carapace_143_cropped_verification.png
